<!-- <ng-container @for="let quiz of quizzesContent; let i = index">
  <h3>{{ quiz.title }}</h3>
  <p>{{ quiz.description }}</p>
</ng-container> -->

<div class="content">

  <ul class="list__cards">
    <li *ngFor="let quiz of quizzesContent">
      <mat-card  class="card__class">

        <div class="container">
          <div class="left">
            <h3 class="title">{{ quiz.title }}</h3>  
            <p>Description: {{ quiz.description }}</p>
          </div>
  
          <div class="right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onOptionClick('Edit')">Edit</button>
              <button mat-menu-item (click)="onOptionClick('Run', quiz.title, quiz.questions)">Run</button>
              <button mat-menu-item (click)="onOptionClick('Delete')">Delete</button>
            </mat-menu>
          </div>
        </div>  
      </mat-card>
    </li>
  </ul>
  
  <div class="example-button-row">
    <button mat-flat-button routerLink="/quiz-building">Create new quiz</button>  
  </div>

</div>
