<div class="content">
  <mat-card-title>Quiz Catalog</mat-card-title>
  <ul class="list__cards">
    <li *ngFor="let quiz of quizzesContent">
      <mat-card  class="card__class">

        <div class="container">
          <div class="left">
            <h3 class="title">{{ quiz.title }}</h3>     
            <hr>          
            <p class="description">Description: {{ quiz.description }}</p>  
            <hr>     
            <p class="questions">Questions: {{quiz.questions.length}}</p>            
            <p class="completed">Completed: {{ getCompletedCount(quiz.quizId) }}</p>              
          </div>
  
          <div class="right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onClickEdit(quiz)">Edit</button>
              <button mat-menu-item (click)="onClickRun(quiz)">Run</button>
              <button mat-menu-item (click)="onClickDelete(quiz)">Delete</button>
            </mat-menu>
          </div>
        </div>  
      </mat-card>
    </li>
  </ul>
  
  <div class="example-button-row">
    <button mat-flat-button routerLink="/quiz-building">Create new quiz</button>  
  </div>

</div>
