<mat-card class="survey-card">
  <mat-card-title>Quiz building</mat-card-title>
  <mat-card-content>
    <form [formGroup]="quizBuilderForm">
      <!--  -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Quiz title</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>

      <!--  -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>

            <!-- Блок для питань -->
      <div formArrayName="questions">
        <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Question {{ i + 1 }}</mat-label>
            <input matInput formControlName="question" required />
          </mat-form-field>

                    <!-- Дропдаун для вибору типу питання -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of questionTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button color="warn" (click)="removeQuestion(i)">
            <mat-icon>delete</mat-icon>
          </button>

                    <!-- Блок варіантів відповідей -->
          <div formArrayName="options">
            <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Choice {{ j + 1 }}</mat-label>
                <input matInput formControlName="optionText" required />
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeOption(i, j)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

                    <!-- Кнопка додавання варіанту відповіді -->
          <button mat-raised-button color="accent" (click)="addOption(i)" type="button">
            Add option
          </button>


        </div>


      </div>

      <div>
              <!-- Кнопка додавання питання -->
        <button mat-raised-button color="accent" (click)="addQuestion()" type="button">
          Add question
        </button>
      </div>

      <!--  -->
      <button mat-raised-button color="primary" (click)="saveSurvey()" [disabled]="quizBuilderForm.invalid">
        Save
      </button>

      <button mat-flat-button routerLink="/catalog">Turn back to catalog</button>
    </form>
  </mat-card-content>
</mat-card>

